.menu-col {
  padding: 16px;
  &.menu-page {
    border-right: 3px solid black;
    
    .nav-pills {
      flex-direction: column;
      position: sticky;
      top: 180px;
    }
  }
  &.menu-content {
    border-right: 3px solid black;
    min-height: 80vh;
    ul {   
      position: sticky;
      top: 112px; 
      background: white;
      padding-top: 20px;
    }
  }
}
@media screen and (max-width: 577px) {
  .menu-col {
    &.menu-page {
      border-right: 0;
      .nav-pills {
        flex-direction: row ;
        padding: 8px;
        margin: 0 16px;
        border-bottom: 3px solid black;
      }
    }
    &.menu-content {
      border-right: 0;
    }
  }
}
.nav-pills .nav-link {
  cursor: pointer;
  color: #8E3C1D;
  &.active {
    background-color: #8E3C1D;
  }
}
.nav-tabs .nav-link {
  color: #212529;
  &.active {
    color: #CCA799;
  }
}

.tab-content .tab-pane .choice-curry {
  padding: 16px;
  margin: 16px;
  border: 2px solid #212529;
  display: inline-block;
  h5 {
    font-size: 14px;
  }
}
.food-box {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  .food-card {
    width: 260px;
    margin: 16px;
    box-shadow: 0 0 4px #CCA799,
    4px 4px 8px #CCA799;
    h4 {
      font-size: 16px;
    }
    img {
      width: 100%;
      height: 124px;;
      object-fit: cover;
    }
  }
  &.drink {
    h4 {
      margin-top: 24px;
    }
  }
}
.set-card {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  min-height: 156px;
  justify-content: space-between;
  .food-name {
    font-size: 16px;
  }
  .food-info {
    flex-grow: 1;
  }
  .price {
    margin: 0 0 0 auto;
    flex-grow: 0;
    font-style: italic;
  }
  &.shadow {
    box-shadow: 0 0 4px #CCA799,
    4px 4px 8px #CCA799;
    min-height: auto;
    margin: 16px;
  }
}
