.main-nav {
  background-color: #8E3C1D;
  .logo-box {
    padding: 4px;
    border: 3px solid yellow;
    background-color: white;
    border-radius: 50%;
  }
  p {
    margin: 24px;
    font-size: 36px;
    font-weight: bold;
    // width: 500px;
  }
  .nav-link {
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    padding: 0 24px !important;
  }
}



@media screen and (max-width: 774px) {
  .main-nav>.container {
    margin: 0 auto;
    padding: 0 8px;
    p {
      font-size: 20px;
      display: inline-block;
    }
  }
}


@media screen and (max-width: 440px) {
  .main-nav > .container p {
    width: 200px;
    margin: 0;
  }
  
  .main-nav .nav-link{
    font-weight: normal;
  }
}
@media screen and (max-width: 365px) {
  .main-nav > .container {
    justify-content: center;
    p {
      width: auto;
      margin: auto;
    }
  }
}