.menu-col {
  padding: 16px;
}
.menu-col.menu-page {
  border-right: 3px solid black;
}
.menu-col.menu-page .nav-pills {
  flex-direction: column;
  position: sticky;
  top: 180px;
}
.menu-col.menu-content {
  border-right: 3px solid black;
  min-height: 80vh;
}
.menu-col.menu-content ul {
  position: sticky;
  top: 112px;
  background: white;
  padding-top: 20px;
}
@media screen and (max-width: 577px) {
  .menu-col.menu-page {
    border-right: 0;
 }
  .menu-col.menu-page .nav-pills {
    flex-direction: row;
    padding: 8px;
    margin: 0 16px;
    border-bottom: 3px solid black;
 }
  .menu-col.menu-content {
    border-right: 0;
 }
}
.nav-pills .nav-link {
  cursor: pointer;
  color: #8e3c1d;
}
.nav-pills .nav-link.active {
  background-color: #8e3c1d;
}
.nav-tabs .nav-link {
  color: #212529;
}
.nav-tabs .nav-link.active {
  color: #cca799;
}
.tab-content .tab-pane .choice-curry {
  padding: 16px;
  margin: 16px;
  border: 2px solid #212529;
  display: inline-block;
}
.tab-content .tab-pane .choice-curry h5 {
  font-size: 14px;
}
.food-box {
  display: flex;
  flex-wrap: wrap;
}
.food-box .food-card {
  width: 260px;
  margin: 16px;
  box-shadow: 0 0 4px #cca799, 4px 4px 8px #cca799;
}
.food-box .food-card h4 {
  font-size: 16px;
}
.food-box .food-card img {
  width: 100%;
  height: 124px;
  object-fit: cover;
}
.food-box.drink h4 {
  margin-top: 24px;
}
.set-card {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  min-height: 156px;
  justify-content: space-between;
}
.set-card .food-name {
  font-size: 16px;
}
.set-card .food-info {
  flex-grow: 1;
}
.set-card .price {
  margin: 0 0 0 auto;
  flex-grow: 0;
  font-style: italic;
}
.set-card.shadow {
  box-shadow: 0 0 4px #cca799, 4px 4px 8px #cca799;
  min-height: auto;
  margin: 16px;
}
